@page
@model soft20181_starter.Pages.ContactModel

<div class="contact">
    <div class="contact-header">
        <h1>Get In Touch</h1>
        <p>Your thoughts matter to us. Feel free to drop us a message or reach out through other channels.</p>
    </div>

    <div class="contact-box">
        <div class="contact-left">
            <h3>Send Your Request</h3>
            <form method="POST" id="contactForm" onsubmit="return validateForm()">
                <div class="input-row">
                    <div class="input-group">
                        <label for="name">Name</label>
                        <input type="text" id="name" name="name" pattern="[A-Za-z ]+" value="@Model.ContactInfo.Name" required>
                        <small>Please enter a valid name.</small>
                    </div>
                    <div class="input-group">
                        <label for="phone">Phone</label>
                        <input type="text" id="phone" name="phone" pattern="[0-9]+" value="@Model.ContactInfo.Phone" minlength="11" maxlength="11" required>
                        <small>Please enter a valid UK phone number.</small>
                    </div>
                </div>
                <div class="input-row">
                    <div class="input-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" value="@Model.ContactInfo.Email" required>
                        <small>Please enter a valid email address.</small>
                    </div>
                    <div class="input-group">
                        <label for="subject">Subject</label>
                        <input type="text" id="subject" name="subject" value="@Model.ContactInfo.Subject" required>
                    </div>
                </div>

                <div class="input-group">
                    <label for="message">Message</label>
                    <textarea id="message" name="message" value="@Model.ContactInfo.Message" rows="5" placeholder="Your Message" required></textarea>
                </div>

                <button type="submit">SEND</button>
            </form>
        </div>

        <div class="contact-right">
            <h3>Reach Us</h3>
            <div class="contact-info">
                <div class="info-item">
                    <i class="fas fa-envelope"></i>
                    <p>eventXplorer@gmail.com</p>
                </div>
                <div class="info-item">
                    <i class="fas fa-phone-alt"></i>
                    <p>07366816348</p>
                </div>
                <div class="info-item">
                    <i class="fas fa-map-marker-alt"></i>
                    <p>46 Whitehouse, Pleasure Gardens NW3 2BL</p>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}



